
/*----------------------------Footer------------------*/

#footer {
    background: #272727;
    font-size: 16px;
    color: #cecdcd;
    text-align: center;
    padding: 0px;
    padding-bottom: 30px;
    font-family: sans-serif;
}

/*--------------------- Footer Links ------------------*/

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links a
{
  color:#737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover
{
  color:#fbff00;
  text-decoration:none;
}

/* Utility classes moved from inline styles in index.html */
.hero-spacing {
  margin-top: 60px;
  margin-bottom: 100px;
}

.footer-logo {
  width: 150px;
}

.accent-hr {
  width: 120px;
  height: 2px;
  background-color: #F5E51B;
  border: none;
}

.footer-sep {
  background-color: #3C3F41;
  height: 1px;
  border: none;
}